.products
  .product__top
    = raw @project.main_image
    %p= @project.title
  .product__middle
    .data
      .p.status 受付中
      .dl.area
        .dt 産地
        .dd= @project.area
      .dl.schedule
        .dt 募集締切
        .dd 7/31
      .btn.apply お申し込み
  .product__center.clearfix
    .main_product= raw @project.main_content
    .sub_product= raw @project.sub_content
  .product__bottom Google Map
%footer
  %img.apple{ src: "http://hahatoco.com/wp-content/uploads/2016/02/DSC01054-1024x768.jpg" }
  %span.logo Owners
